  <nav class="navbar navbar-expand-md  navbar-dark">
    <div class="container-fluid ">

        <!---- Marca o logo de la empresa ---->
        <a href="#" class="navbar-brand">
            <h1>{{Nombre_Pagina}}</h1>
        </a>

        <!----- Añadir boton con icono de menu-hamburguesa ----->
        <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#menu-principal" aria-controls="menu-principal" aria-expanded="false" aria-label="Menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!---- Menu de navegacion ---->
        <div class="collapse navbar-collapse" id="menu-principal">
            <ul class="navbar-nav ml-auto text-right">
                <li class="nav-item">
                    <a href="/" class="nav-link active">INICIO</a>
                </li>
                <p class="mb-0 mt-2 text-white-50 d-sm-none d-none d-lg-block d-md-block d-xl-block">/</p>
                <li class="nav-item">
                    <a href="nosotros.html" class="nav-link">SOBRE NOSOTROS</a>
                </li>
                <p class="mb-0 mt-2 text-white-50 d-sm-none d-none d-lg-block d-md-block d-xl-block">/</p>
                <li class="nav-item">
                    <a href="contactos.html" class="nav-link">CONTACTANOS</a>
                </li>
                <p class="mb-0 mt-2 text-white-50 d-sm-none d-none d-lg-block d-md-block d-xl-block">/</p>
                <li class="nav-item">
                    <a href="/inicio_de_sesion" class="nav-link">INICIAR SESION</a>
                </li>
            </ul>
        </div>


    </div>
</nav>
