<!DOCTYPE html>
<html lan="en">

<head>
    <meta charset="UTF-8">
    <title>Trabajos | PWEEL.com</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style_trabajos.css" />
    <script type="text/javascript" src="js/radialprogress.js"></script>
</head>

<body>
    <!---- Header ---->
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container-fluid ">
            <!---- Marca o logo de la empresa ---->
            <a href="#" class="navbar-brand">
                <h1>PWEEL</h1>
            </a>

            <!----- Añadir boton con icono de menu-hamburguesa ----->
            <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#menu-principal" aria-controls="menu-principal" aria-expanded="false" aria-label="Menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!---- Menu de navegacion ---->
            <div class="collapse navbar-collapse" id="menu-principal">
                <ul class="navbar-nav ml-auto text-right">
                    <li class="nav-item">
                        <a href="#" class="nav-link">INICIO</a>
                    </li>
                    <p class="mb-0 mt-2 text-white-50 d-sm-none d-none d-lg-block d-md-block d-xl-block">/</p>
                    <li class="nav-item">
                        <a href="#" class="nav-link">SOBRE NOSOTROS</a>
                    </li>
                    <p class="mb-0 mt-2 text-white-50 d-sm-none d-none d-lg-block d-md-block d-xl-block">/</p>
                    <li class="nav-item">
                        <a href="#" class="nav-link">CONTACTANOS</a>
                    </li>
                    <p class="mb-0 mt-2 text-white-50 d-sm-none d-none d-lg-block d-md-block d-xl-block">/</p>
                    <li class="nav-item">
                        <a href="#" class="nav-link">INICIAR SESION</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!---- Tabs de navegacion ---->
    <ul class="nav nav-tabs menu justify-content-center">
        <li class="nav-item tabss pestana">
            <a href="#tab1" class="nav-link  active" data-toggle="tab">Vacantes</a>
        </li>
        <li class="nav-item tabss pestana">
            <a href="#tab2" class="nav-link " data-toggle="tab">Sugeridos</a>
        </li>
        <li class="nav-item tabss pestana">
            <a href="#tab3" class="nav-link " data-toggle="tab">Express</a>
        </li>
        <li class="nav-item tabss pestana">
            <a href="#tab4" class="nav-link " data-toggle="tab">Mis Solicitudes</a>
        </li>
        <li class="nav-item tabss pestana">
            <a href="#tab5" class="nav-link " data-toggle="tab">Confirmados</a>
        </li>
    </ul>
    <div class="container ">
        <div class="row mt-3">
            <!-------Contenido de las Tabs------->
            <div class="col-12 tab-content ">
                <!-------Vacantes------->
                <div class="tab-pane active" id="tab1" role="tabpanel">
                    <!-- Search form -->
                    <form class="form-inline justify-content-center">
                        <i class="fas fa-search" aria-hidden="true"></i>
                        <input class="form-control form-control-sm w-50 ml-3" type="text" placeholder="Buscar" aria-label="Search">
                    </form>
                    <hr class="w-75">
                    <div class="card-list d-flex flex-column flex-lg-row" id="lista_vacantes row">
                <!-- Lista de vacantes -->
                        <div class="col-12 col-lg-6 p-0" id="columna1">
                            <div class="card col-12">
                                <div class="card-body">
                                    <p class="mb-0">
                                        <label for="id_vacante"><small class="text-muted">ID vacante</small></label>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                    </p>
                                    <h3 class="card-title">Cargo a desempeñar</h3>
                                    <h6 class="card-subtitle mb-0 text-muted"><strong>Ubicación:</strong><label id="lugar_vacante" class="ml-2">Lugar</label></h6>
                                    <h6 class="card-subtitle mb-2 text-muted"><strong>Publicado:</strong><label id="fecha_publicacion_vacante" class="ml-2">Fecha de la publicación</label></h6>
                                    <button type="button" data-toggle="collapse" data-target="#collapse_vacante_1" aria-expanded="true" class="menu-edit btn px-1 py-1 ml-auto" id="btn_seemore_1"><i class='fas fa-angle-down' style='font-size:32px'></i></button>
                                </div>
                                <div class="collapse px-4" id="collapse_vacante_1">
                                    <hr class="mt-0">
                                    <small class="text-muted"><label for="descripción_vacante" id="descripción_vacante">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id pretium leo. Pellentesque luctus massa non elit viverra pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem. <br />
                                            Etiam nisi turpis, eleifend nec tellus id, efficitur pellentesque dolor. Proin vitae massa a augue sagittis vulputate. Duis vel fringilla magna, sit amet vestibulum enim. Fusce laoreet accumsan nisl eu sagittis. Morbi hendrerit sapien eget efficitur imperdiet. Aenean vitae nisl id est placerat congue a et nisi.
                                        </label></small>
                                    <h6 class="card-subtitle py-2 mb-2 text-muted"><strong>Duración:</strong><label id="duracion_vacante" class="ml-2">Tiempo</label></h6>
                                    <button type="button" class="btn btn-warning mb-4 btn-block" id="btn_cambiar_contrasena"><strong>Aplicar</strong></button>
                                </div>
                            </div>
                            
                            <div class="card col-12">
                                <div class="card-body">
                                    <p class="mb-0">
                                        <label for="id_vacante"><small class="text-muted">ID vacante</small></label>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                    </p>
                                    <h3 class="card-title">Cargo a desempeñar</h3>
                                    <h6 class="card-subtitle mb-0 text-muted"><strong>Ubicación:</strong><label id="lugar_vacante" class="ml-2">Lugar</label></h6>
                                    <h6 class="card-subtitle mb-2 text-muted"><strong>Publicado:</strong><label id="fecha_publicacion_vacante" class="ml-2">Fecha de la publicación</label></h6>
                                    <button type="button" data-toggle="collapse" data-target="#collapse_vacante_3" aria-expanded="true" class="menu-edit btn px-1 py-1 ml-auto" id="btn_seemore_3"><i class='fas fa-angle-down' style='font-size:32px'></i></button>
                                </div>
                                <div class="collapse px-4" id="collapse_vacante_3">
                                    <hr class="mt-0">
                                    <small class="text-muted"><label for="descripción_vacante" id="descripción_vacante">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id pretium leo. Pellentesque luctus massa non elit viverra pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem. <br />
                                            Etiam nisi turpis, eleifend nec tellus id, efficitur pellentesque dolor. Proin vitae massa a augue sagittis vulputate. Duis vel fringilla magna, sit amet vestibulum enim. Fusce laoreet accumsan nisl eu sagittis. Morbi hendrerit sapien eget efficitur imperdiet. Aenean vitae nisl id est placerat congue a et nisi.
                                        </label></small>
                                    <h6 class="card-subtitle py-2 mb-2 text-muted"><strong>Duración:</strong><label id="duracion_vacante" class="ml-2">Tiempo</label></h6>
                                    <button type="button" class="btn btn-warning mb-4 btn-block" id="btn_cambiar_contrasena"><strong>Aplicar</strong></button>
                                </div>
                            </div>
                            
                            <div class="card col-12">
                                <div class="card-body">
                                    <p class="mb-0">
                                        <label for="id_vacante"><small class="text-muted">ID vacante</small></label>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                    </p>
                                    <h3 class="card-title">Cargo a desempeñar</h3>
                                    <h6 class="card-subtitle mb-0 text-muted"><strong>Ubicación:</strong><label id="lugar_vacante" class="ml-2">Lugar</label></h6>
                                    <h6 class="card-subtitle mb-2 text-muted"><strong>Publicado:</strong><label id="fecha_publicacion_vacante" class="ml-2">Fecha de la publicación</label></h6>
                                    <button type="button" data-toggle="collapse" data-target="#collapse_vacante_5" aria-expanded="true" class="menu-edit btn px-1 py-1 ml-auto" id="btn_seemore_5"><i class='fas fa-angle-down' style='font-size:32px'></i></button>
                                </div>
                                <div class="collapse px-4" id="collapse_vacante_5">
                                    <hr class="mt-0">
                                    <small class="text-muted"><label for="descripción_vacante" id="descripción_vacante">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id pretium leo. Pellentesque luctus massa non elit viverra pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem. <br />
                                            Etiam nisi turpis, eleifend nec tellus id, efficitur pellentesque dolor. Proin vitae massa a augue sagittis vulputate. Duis vel fringilla magna, sit amet vestibulum enim. Fusce laoreet accumsan nisl eu sagittis. Morbi hendrerit sapien eget efficitur imperdiet. Aenean vitae nisl id est placerat congue a et nisi.
                                        </label></small>
                                    <h6 class="card-subtitle py-2 mb-2 text-muted"><strong>Duración:</strong><label id="duracion_vacante" class="ml-2">Tiempo</label></h6>
                                    <button type="button" class="btn btn-warning mb-4 btn-block" id="btn_cambiar_contrasena"><strong>Aplicar</strong></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 p-0" id="columna2">
                            <div class="card col-12">
                                <div class="card-body">
                                    <p class="mb-0">
                                        <label for="id_vacante"><small class="text-muted">ID vacante</small></label>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                    </p>
                                    <h3 class="card-title">Cargo a desempeñar</h3>
                                    <h6 class="card-subtitle mb-0 text-muted"><strong>Ubicación:</strong><label id="lugar_vacante" class="ml-2">Lugar</label></h6>
                                    <h6 class="card-subtitle mb-2 text-muted"><strong>Publicado:</strong><label id="fecha_publicacion_vacante" class="ml-2">Fecha de la publicación</label></h6>
                                    <button type="button" data-toggle="collapse" data-target="#collapse_vacante_2" aria-expanded="true" class="menu-edit btn px-1 py-1 ml-auto" id="btn_seemore_2"><i class='fas fa-angle-down' style='font-size:32px'></i></button>
                                </div>
                                <div class="collapse px-4" id="collapse_vacante_2">
                                    <hr class="mt-0">
                                    <small class="text-muted"><label for="descripción_vacante" id="descripción_vacante">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id pretium leo. Pellentesque luctus massa non elit viverra pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem. <br />
                                            Etiam nisi turpis, eleifend nec tellus id, efficitur pellentesque dolor. Proin vitae massa a augue sagittis vulputate. Duis vel fringilla magna, sit amet vestibulum enim. Fusce laoreet accumsan nisl eu sagittis. Morbi hendrerit sapien eget efficitur imperdiet. Aenean vitae nisl id est placerat congue a et nisi.
                                        </label></small>
                                    <h6 class="card-subtitle py-2 mb-2 text-muted"><strong>Duración:</strong><label id="duracion_vacante" class="ml-2">Tiempo</label></h6>
                                    <button type="button" class="btn btn-warning mb-4 btn-block" id="btn_cambiar_contrasena"><strong>Aplicar</strong></button>
                                </div>
                            </div>
                            
                            <div class="card col-12">
                                <div class="card-body">
                                    <p class="mb-0">
                                        <label for="id_vacante"><small class="text-muted">ID vacante</small></label>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                    </p>
                                    <h3 class="card-title">Cargo a desempeñar</h3>
                                    <h6 class="card-subtitle mb-0 text-muted"><strong>Ubicación:</strong><label id="lugar_vacante" class="ml-2">Lugar</label></h6>
                                    <h6 class="card-subtitle mb-2 text-muted"><strong>Publicado:</strong><label id="fecha_publicacion_vacante" class="ml-2">Fecha de la publicación</label></h6>
                                    <button type="button" data-toggle="collapse" data-target="#collapse_vacante_4" aria-expanded="true" class="menu-edit btn px-1 py-1 ml-auto" id="btn_seemore_4"><i class='fas fa-angle-down' style='font-size:32px'></i></button>
                                </div>
                                <div class="collapse px-4" id="collapse_vacante_4">
                                    <hr class="mt-0">
                                    <small class="text-muted"><label for="descripción_vacante" id="descripción_vacante">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id pretium leo. Pellentesque luctus massa non elit viverra pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem. <br />
                                            Etiam nisi turpis, eleifend nec tellus id, efficitur pellentesque dolor. Proin vitae massa a augue sagittis vulputate. Duis vel fringilla magna, sit amet vestibulum enim. Fusce laoreet accumsan nisl eu sagittis. Morbi hendrerit sapien eget efficitur imperdiet. Aenean vitae nisl id est placerat congue a et nisi.
                                        </label></small>
                                    <h6 class="card-subtitle py-2 mb-2 text-muted"><strong>Duración:</strong><label id="duracion_vacante" class="ml-2">Tiempo</label></h6>
                                    <button type="button" class="btn btn-warning mb-4 btn-block" id="btn_cambiar_contrasena"><strong>Aplicar</strong></button>
                                </div>
                            </div>
                            
                        </div>

                    </div>

                    <hr class="w-75">
                    <nav>
                        <ul class="pagination pg-dark d-flex justify-content-center">
                            <li class="page-item disabled">
                                <span class="page-link" aria-hidden="true">« Anterior</span>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">3</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">4</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">5</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">
                                    <span aria-hidden="true">Siguiente » </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
    <!-------Sugeridos------->
                <div class="tab-pane" id="tab2" role="tabpanel">
                    <!-- Search form -->
                    <form class="form-inline justify-content-center">
                        <i class="fas fa-search" aria-hidden="true"></i>
                        <input class="form-control form-control-sm w-50 ml-3" type="text" placeholder="Buscar" aria-label="Search">
                    </form>
                    <hr class="w-75">
                    <div class="card-list d-flex flex-column flex-md-row" id="lista_vacantes row">
                        <!-- Lista de vacantes -->
                        <div class="col-12 col-md-6 p-0 " id="columna1">
                            <div class="card col-12">
                                <div class="card-body">
                                    <p class="mb-0">
                                        <label for="id_vacante"><small class="text-muted">ID vacante</small></label>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                    </p>
                                    <h3 class="card-title">Cargo a desempeñar</h3>
                                    <h6 class="card-subtitle mb-0 text-muted"><strong>Ubicación:</strong><label id="lugar_vacante" class="ml-2">Lugar</label></h6>
                                    <h6 class="card-subtitle mb-2 text-muted"><strong>Publicado:</strong><label id="fecha_publicacion_vacante" class="ml-2">Fecha de la publicación</label></h6>
                                    <button type="button" data-toggle="collapse" data-target="#collapse_vacante_3" aria-expanded="true" class="menu-edit btn px-1 py-1 ml-auto" id="btn_seemore_3"><i class='fas fa-angle-down' style='font-size:32px'></i></button>
                                </div>
                                <div class="collapse px-4" id="collapse_vacante_3">
                                    <hr class="mt-0">
                                    <small class="text-muted"><label for="descripción_vacante" id="descripción_vacante">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id pretium leo. Pellentesque luctus massa non elit viverra pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem. <br />
                                            Etiam nisi turpis, eleifend nec tellus id, efficitur pellentesque dolor. Proin vitae massa a augue sagittis vulputate. Duis vel fringilla magna, sit amet vestibulum enim. Fusce laoreet accumsan nisl eu sagittis. Morbi hendrerit sapien eget efficitur imperdiet. Aenean vitae nisl id est placerat congue a et nisi.
                                        </label></small>
                                    <h6 class="card-subtitle py-2 mb-2 text-muted"><strong>Duración:</strong><label id="duracion_vacante" class="ml-2">Tiempo</label></h6>
                                    <button type="button" class="btn btn-warning mb-4 btn-block" id="btn_cambiar_contrasena"><strong>Aplicar</strong></button>
                                </div>
                            </div>
                            
                            <div class="card col-12">
                                <div class="card-body">
                                    <p class="mb-0">
                                        <label for="id_vacante"><small class="text-muted">ID vacante</small></label>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                    </p>
                                    <h3 class="card-title">Cargo a desempeñar</h3>
                                    <h6 class="card-subtitle mb-0 text-muted"><strong>Ubicación:</strong><label id="lugar_vacante" class="ml-2">Lugar</label></h6>
                                    <h6 class="card-subtitle mb-2 text-muted"><strong>Publicado:</strong><label id="fecha_publicacion_vacante" class="ml-2">Fecha de la publicación</label></h6>
                                    <button type="button" data-toggle="collapse" data-target="#collapse_vacante_5" aria-expanded="true" class="menu-edit btn px-1 py-1 ml-auto" id="btn_seemore_5"><i class='fas fa-angle-down' style='font-size:32px'></i></button>
                                </div>
                                <div class="collapse px-4" id="collapse_vacante_5">
                                    <hr class="mt-0">
                                    <small class="text-muted"><label for="descripción_vacante" id="descripción_vacante">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id pretium leo. Pellentesque luctus massa non elit viverra pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem. <br />
                                            Etiam nisi turpis, eleifend nec tellus id, efficitur pellentesque dolor. Proin vitae massa a augue sagittis vulputate. Duis vel fringilla magna, sit amet vestibulum enim. Fusce laoreet accumsan nisl eu sagittis. Morbi hendrerit sapien eget efficitur imperdiet. Aenean vitae nisl id est placerat congue a et nisi.
                                        </label></small>
                                    <h6 class="card-subtitle py-2 mb-2 text-muted"><strong>Duración:</strong><label id="duracion_vacante" class="ml-2">Tiempo</label></h6>
                                    <button type="button" class="btn btn-warning mb-4 btn-block" id="btn_cambiar_contrasena"><strong>Aplicar</strong></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 p-0" id="columna2">
                            <div class="card col-12">
                                <div class="card-body">
                                    <p class="mb-0">
                                        <label for="id_vacante"><small class="text-muted">ID vacante</small></label>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                    </p>
                                    <h3 class="card-title">Cargo a desempeñar</h3>
                                    <h6 class="card-subtitle mb-0 text-muted"><strong>Ubicación:</strong><label id="lugar_vacante" class="ml-2">Lugar</label></h6>
                                    <h6 class="card-subtitle mb-2 text-muted"><strong>Publicado:</strong><label id="fecha_publicacion_vacante" class="ml-2">Fecha de la publicación</label></h6>
                                    <button type="button" data-toggle="collapse" data-target="#collapse_vacante_2" aria-expanded="true" class="menu-edit btn px-1 py-1 ml-auto" id="btn_seemore_2"><i class='fas fa-angle-down' style='font-size:32px'></i></button>
                                </div>
                                <div class="collapse px-4" id="collapse_vacante_2">
                                    <hr class="mt-0">
                                    <small class="text-muted"><label for="descripción_vacante" id="descripción_vacante">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id pretium leo. Pellentesque luctus massa non elit viverra pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem. <br />
                                            Etiam nisi turpis, eleifend nec tellus id, efficitur pellentesque dolor. Proin vitae massa a augue sagittis vulputate. Duis vel fringilla magna, sit amet vestibulum enim. Fusce laoreet accumsan nisl eu sagittis. Morbi hendrerit sapien eget efficitur imperdiet. Aenean vitae nisl id est placerat congue a et nisi.
                                        </label></small>
                                    <h6 class="card-subtitle py-2 mb-2 text-muted"><strong>Duración:</strong><label id="duracion_vacante" class="ml-2">Tiempo</label></h6>
                                    <button type="button" class="btn btn-warning mb-4 btn-block" id="btn_cambiar_contrasena"><strong>Aplicar</strong></button>
                                </div>
                            </div>
                            
                            <div class="card col-12">
                                <div class="card-body">
                                    <p class="mb-0">
                                        <label for="id_vacante"><small class="text-muted">ID vacante</small></label>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                    </p>
                                    <h3 class="card-title">Cargo a desempeñar</h3>
                                    <h6 class="card-subtitle mb-0 text-muted"><strong>Ubicación:</strong><label id="lugar_vacante" class="ml-2">Lugar</label></h6>
                                    <h6 class="card-subtitle mb-2 text-muted"><strong>Publicado:</strong><label id="fecha_publicacion_vacante" class="ml-2">Fecha de la publicación</label></h6>
                                    <button type="button" data-toggle="collapse" data-target="#collapse_vacante_4" aria-expanded="true" class="menu-edit btn px-1 py-1 ml-auto" id="btn_seemore_4"><i class='fas fa-angle-down' style='font-size:32px'></i></button>
                                </div>
                                <div class="collapse px-4" id="collapse_vacante_4">
                                    <hr class="mt-0">
                                    <small class="text-muted"><label for="descripción_vacante" id="descripción_vacante">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id pretium leo. Pellentesque luctus massa non elit viverra pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem. <br />
                                            Etiam nisi turpis, eleifend nec tellus id, efficitur pellentesque dolor. Proin vitae massa a augue sagittis vulputate. Duis vel fringilla magna, sit amet vestibulum enim. Fusce laoreet accumsan nisl eu sagittis. Morbi hendrerit sapien eget efficitur imperdiet. Aenean vitae nisl id est placerat congue a et nisi.
                                        </label></small>
                                    <h6 class="card-subtitle py-2 mb-2 text-muted"><strong>Duración:</strong><label id="duracion_vacante" class="ml-2">Tiempo</label></h6>
                                    <button type="button" class="btn btn-warning mb-4 btn-block" id="btn_cambiar_contrasena"><strong>Aplicar</strong></button>
                                </div>
                            </div>
                            
                        </div>

                    </div>

                    <hr class="w-75">
                    <nav>
                        <ul class="pagination pg-dark d-flex justify-content-center">
                            <li class="page-item disabled">
                                <span class="page-link" aria-hidden="true">« Anterior</span>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">3</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">4</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">5</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">
                                    <span aria-hidden="true">Siguiente » </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!------- Pestaña Express------->
                <div class="tab-pane" id="tab3" role="tabpanel">
                    <div class="container">                        
                            <div class="row d-flex justify-content-center align-items-center" >                 
                                 <!-------Vacante Express------->                                                              
                                    <div class="card col-12 col-lg-5 order-lg-2">
                                            <div class="card-body">
                                                <p class="mb-0">
                                                    <label for="id_vacante"><small class="text-muted">ID vacante</small></label>
                                                    <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                                    <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                                    <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                                    <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                                    <span class="float-right"><i class="text-warning fa fa-star ml-2" style="font-size:20px"></i></span>
                                                </p>
                                                <h3 class="card-title">Cargo a desempeñar</h3>
                                                <h6 class="card-subtitle mb-0 text-muted"><strong>Ubicación:</strong><label id="lugar_vacante" class="ml-2">Lugar</label></h6>
                                                <h6 class="card-subtitle mb-2 text-muted"><strong>Publicado:</strong><label id="fecha_publicacion_vacante" class="ml-2">Fecha de la publicación</label></h6>
                                                <button type="button" data-toggle="collapse" data-target="#collapse_vacante_4" aria-expanded="true" class="menu-edit btn px-1 py-1 ml-auto" id="btn_seemore_4"><i class='fas fa-angle-down' style='font-size:32px'></i></button>
                                            </div>
                                            <div class="collapse px-4" id="collapse_vacante_4">
                                                <hr class="mt-0">
                                                <small class="text-muted"><label for="descripción_vacante" id="descripción_vacante">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id pretium leo. Pellentesque luctus massa non elit viverra pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna sem. <br />
                                                        Etiam nisi turpis, eleifend nec tellus id, efficitur pellentesque dolor. Proin vitae massa a augue sagittis vulputate. Duis vel fringilla magna, sit amet vestibulum enim. Fusce laoreet accumsan nisl eu sagittis. Morbi hendrerit sapien eget efficitur imperdiet. Aenean vitae nisl id est placerat congue a et nisi.
                                                    </label></small>
                                                <h6 class="card-subtitle py-2 mb-2 text-muted"><strong>Duración:</strong><label id="duracion_vacante" class="ml-2">Tiempo</label></h6>
                                                
                                            </div>
                                    </div>
                                <!-------Imagen recargar------->
                                    <div class="col-6 col-lg-4 d-flex order-lg-1 justify-content-center">
                                        <img src="imgs/recargar.png" alt="" id ="img_recargar" class="img-fluid">
                                    </div>
                                <!-------Boton------->                                                            
                                    <div class="col-6 col-lg-3 d-flex order-lg-3 justify-content-center">
                                            <button type="button" class="btn btn-warning mb-4 btn-block" id="btn_cambiar_contrasena"><strong>Aplicar</strong></button>
                                    </div>                                
                                </div>                             
                    </div>
                </div>

                <!-------Pestaña4------->
                <div class="tab-pane" id="tab4" role="tabpanel">
                    <div class="container">
                        <div class="row">
                            <p class="col-12">Pestaña2</p>
                        </div>
                    </div>
                </div>

                <!-------Pestaña5------->
                <div class="tab-pane" id="tab5" role="tabpanel">
                    <div class="container">
                        <div class="row">
                            <p class="col-12">Pestaña2</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!---- Footer ---->
    <footer class="container-fluid footer">
        <div class="row fter">
            <div class="col">
                <div class="d-flex justify-content-end">
                    <h1 class="mb-0 mr-auto">PWEEL</h1>
                    <img src="imgs/logo-multimedia.png" width="40" height="40" class="mt-2 mr-2">
                    <div class="vl2 hidden-sm-down"></div>
                    <img src="imgs/umilitar-logo.png" width="60" height="50">
                </div>
                <small>COPYRIGHT © 2019 Prohibida su reproducción total o parcial, así como su traducción a cualquier idioma sin autorización escrita de su titular. pweel.com es un proyecto de la materia de Tecnologias del Internet UMNG. <a href="#" class="link text-muted"><strong>Aviso de privacidad</strong></a> </small>
                <br />
                <i class="fab fa-dochub"></i>
                <a href="#" class="link small text-muted"><strong>Términos y condiciones</strong></a>
            </div>
        </div>
    </footer>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!--Firebase--> 
    
</body>
